includes:
    - vendor/spaze/phpstan-disallowed-calls/extension.neon

services:
    -
        class: Cppti\PHPStanRules\Rules\StrictTypesDeclarationRule
        tags:
            - phpstan.rules.rule
    -
        class: Cppti\PHPStanRules\Rules\DisallowTableNameInValidationRuleRule
        tags:
            - phpstan.rules.rule
