parameters:
    bootstrapFiles:
        - /app/tests/stubs/Model.php
        - /app/tests/stubs/Attribute.php
    scanFiles:
        - /app/tests/stubs/Model.php
        - /app/tests/stubs/Attribute.php
